.idea/
condition_identification/__pycache__
condition_identification/word_segmentation/__pycache__
condition_identification/bonus_identify/__pycache__
condition_identification/bonus_identify/.idea
venv/
docs/build/
docs/make.bat
docs/Makefile
*.pyc
.pytest_cache/
__pycache__
*.pyc
condition_identification/word_segmentation/__pycache__/__init__.cpython-36.pyc
condition_identification/syntax_analysis/__pycache__/__init__.cpython-36.pyc
condition_identification/syntax_analysis/__pycache__/__init__.cpython-36.pyc
condition_identification/document_parsing/__pycache__/__init__.cpython-36.pyc
condition_identification/entity_link/__pycache__/__init__.cpython-36.pyc
condition_identification/word_segmentation/__pycache__/__init__.cpython-36.pyc
ns_ai_system/logs
ns_ai_system/pid