absl-py==0.8.1
amqp==2.5.1
aniso8601==8.0.0
appdirs==1.4.3
astor==0.8.0
astroid==2.3.1
attrs==19.3.0
Babel==2.7.0
bert-serving-client==1.9.8
bert-serving-server==1.9.8
billiard==3.6.1.0
cached-property==1.5.1
celery==4.3.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
defusedxml==0.6.0
Flask==1.1.1
Flask-JSONRPC==0.3.1
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.7
flower==0.9.3
gast==0.2.2
google-pasta==0.1.7
GPUtil==1.4.0
grpcio==1.24.1
h5py==2.10.0
idna==2.8
importlib-metadata==0.23
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kombu==4.6.5
lazy-object-proxy==1.4.2
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
neobolt==1.7.15
neotime==1.7.4
numpy==1.17.2
opt-einsum==3.1.0
pandas==0.25.1
pika==1.1.0
prompt-toolkit==2.0.10
protobuf==3.10.0
py2neo==4.3.0
Pygments==2.3.1
pylint==2.4.2
pymongo==3.9.0
python-dateutil==2.8.0
pytz==2019.3
pyzmq==18.1.0
redis==3.3.11
requests==2.22.0
requests-toolbelt==0.9.1
scikit-learn==0.21.3
scipy==1.3.1
six==1.12.0
sklearn==0.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tornado==5.1.1
treelib==1.5.5
typed-ast==1.4.0
urllib3==1.24.3
vine==1.3.0
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
zeep==3.4.0
zipp==0.6.0
